{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
    <ul>
        <li><a href="{{ url1 }}">Article 1</li> 
        <li><a href="{{ url2 }}">Article 2</li>
        <li><a href="{{ url3 }}">Article 3</li>

    </ul>
{% endblock %}
